.idea/
.vagrant/
*.egg-info/
*.egg
CACHE/
build/
_build/
snippets/
htmlcov/
deploys/
apps/
!fruition/tests/apps/
bower_components/
*egg-info*
*.egg
.bundle/
node_modules/
vendor/
.bundle/
laerdal_debrief_files/
env/
laerdal_debrief_files/
.coverage
tmp.db
*.pyc
*.ipynb
*~
\#*
.sass-cache/
collected_static_files/
coverage_html_report/
public/sass/theme*.scss
themes/tests/data/sass/*.scss
public/update-bootstrap.sh
.DS_STORE
public/api/v1/data/
*.orig
ghostdriver.log
*.log
*.log.?
media/
cache/
django_sql.log*
*.swp
dump.rdb

extracts/
*.gz
*.log.?

# link to templates in JS projects (added by Djam)
public/template_stacks

# Ignore built assets, these are built on deploy
public/stylesheets/*.css
public/js/bin/**/*.js

# Chris research into grunt and typography
fruition-s3-user
public/Gruntfile.js
public/package.json
public/stylesheets/buttons/buttons.css
public/typography.html

# Ignore built docs
docs/_build/

# Ignore developer settings files
fruition/settings/devchris.py
fruition/settings/devchrisg.py
fruition/settings/devdjam.py
fruition/settings/devjames.py

apps.txt

# Ignore Vagrant stuff
Vagrantfile
.vagrant/

.ropeproject/
.pre-commit-config.yaml
.python-version
